.pizza-card {
 display:flex;
 flex-direction: column;

  img {
    max-width: 150px;
    
  }
  .btn-primary, .btn-default{
    .btn-style;
    width:36%;
  }
  #btns-gr{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-around;
  }
  #price{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-around;
    margin-bottom: 10px;
    color:@darkgr;
  }
  #price .pr{
    font-size:3.5rem;
  }
  .cost{
    display:flex;
    flex-direction: column;
    text-align: center;;
  }
  #features{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-around;
    margin-bottom: 10px;
  }
  #p_size{
    width:10px;
    height:10px;
  }
}
